p.text1{
    color: red;
}
p.text2{color: green;
}
p.italic{
    font-style: italic;
}
p.bold{
    font-weight: bolder;
}
li.green{
    color: green;
}
li.red{
    color: red;
}
li.blue{
    color: blue;
}